@model IEnumerable<EquipmentDatabase.Models.Equipment>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Student.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatePurchased)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAssigned)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EquipmentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceTag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Software)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Student.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatePurchased)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAssigned)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EquipmentType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceTag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Software)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EquipmentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EquipmentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EquipmentID })
        </td>
    </tr>
}

</table>
