@model EquipmentDatabase.Models.Equipment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Equipment</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Equipment Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipmentType)
        </dd>

        <dt>
            Location
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            Student ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.StudentID)
        </dd>

        <dt>
            First Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.FirstMidName)
        </dd>


        <dt>
            Last Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.LastName)
        </dd>

        <dt>
            Date Purchased
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAssigned)
        </dd>


        <dt>
            Date Assigned
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAssigned)
        </dd>
        <dt>
            Model
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModelName)
        </dd>
        


        

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EquipmentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
