@model IEnumerable<EquipmentDatabase.Models.Equipment>

@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css">

@section Scripts {
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
<script type='text/javascript'>
    $(document).ready(function () {
        $("#table").dataTable();
    });
    </script>
    }

<h2>Select Equipment</h2>

<table class="table" id="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Equipment Type
        </th>
        <th>
            Model
        </th>
        <th>
            Date Purchased
        </th>
        <th>
            Status
        </th>
        <th>
            Service Tag
        </th>
        <th>
            Notes
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentID)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.EquipmentType)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelName)
            </td>
            <td>
                @item.DatePurchased.ToString("MM/dd/yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceTag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.ActionLink("Select", "Save", new { id = item.EquipmentID, StudentID = @ViewBag.StudentID }, htmlAttributes: new { @class = "btn btn-primary" })
            </td>
        </tr>
    }
</table>
