@model IEnumerable<EquipmentDatabase.Models.Equipment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@ViewBag.StudentID


<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>

            @* @Html.DisplayNameFor(model => model.EquipmentType) *@

            Equipment Type

        </th>
        <th>
            Student ID
        </th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            @* @Html.DisplayNameFor(model => model.DateAssigned) *@
            Date Purchased

        </th>
        <th>
            @* @Html.DisplayNameFor(model => model.DateAssigned) *@
            Date Assigned

        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentID)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.EquipmentType)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.StudentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FirstMidName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.LastName)
            </td>

            <td>
                @if (item.DatePurchased.HasValue)
                {
                    @item.DatePurchased.Value.ToString("MM/dd/yyyy")
                }
            </td>

            <td>

                @if (item.DateAssigned.HasValue)
                {
                    @item.DateAssigned.Value.ToString("MM/dd/yyyy")
                }
            </td>

            <td>
                @Html.ActionLink("Select", "Edit", new { id = item.EquipmentID }, htmlAttributes: new { @class = "btn btn-primary" })
                
            </td>
        </tr>
    }

</table>
