@model IEnumerable<EquipmentDatabase.Models.Student>

<thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstMidName)
        </th>
        <th>Equipment</th>
        <th>Options</th>
    </tr>
</thead>
<tbody>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstMidName)
            </td>
            <td class="equipment-cell">@{bool commaFlag = false;
                    foreach (var equipmentItem in item.Equipment)
                    {
                        if (commaFlag)
                        {
                            <span>, </span>
                        }
                        else
                        {
                            commaFlag = true;
                        }
                        @Html.DisplayFor(modelItem => equipmentItem.EquipmentType);
                }}</td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.StudentID }, htmlAttributes: new { @class = "btn btn-primary" })
                @Html.ActionLink("Assign", "Select", "Equipment", new { StudentID = @item.StudentID }, htmlAttributes: new { @class = "btn btn-primary" })
                @Html.ActionLink("Delete", "Delete", new { id = item.StudentID }, htmlAttributes: new { @class = "btn btn-primary" })
            </td>

        </tr>
                    }

</tbody>
