@model IEnumerable<EquipmentDatabase.Models.Student>

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstMidName)
            </th>
            <th>
                Equipment col 1
            </th>
            <th>Equipment col 2</th>

            <th></th>
            <th></th>
            <th></th>

        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstMidName)
                </td>        

                @{int count = 0;

                    foreach (var equipmentItem in item.Equipment)
                    {
                        count++;

                        if (count <= 2)
                        {
                            <td>
                                @Html.DisplayFor(modelItem => equipmentItem.EquipmentType)
                            </td>
                        }
                    }
                    if (count == 0)
                    {
                        <td></td>
                        <td></td>
                    }
                    else if (count == 1)
                    {
                        <td></td>
                    }
                }
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.StudentID }, htmlAttributes: new { @class = "btn btn-primary" })
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.StudentID }, htmlAttributes: new { @class = "btn btn-primary" })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.StudentID }, htmlAttributes: new { @class = "btn btn-primary" })
                </td>
               
            </tr>
                    }

    </tbody>

