@model EquipmentDatabase.Models.Student

@{
    ViewBag.Title = "Details";
}






<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstMidName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstMidName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Equipment)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Equipment Name</th>
                    <th>Assigned Date</th>
                </tr>
                @foreach (var item in Model.Equipment)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EquipmentName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateAssigned)
                        </td>
                    </tr>
                }
            </table>
        </dd>




    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
