@model IEnumerable<EquipmentDatabase.Models.Student>

@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">

@section Scripts {
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
<script type='text/javascript'>
    $(document).ready(function () {
        $('#table-id').DataTable({
            "initComplete": function (settings, json) {
                preloaderFadeOutTime = 500;
                function hidePreloader() {
                    var preloader = $('.spinner-wrapper');
                    preloader.fadeOut(preloaderFadeOutTime);
                }
                hidePreloader();
                $('#table-id').show();

            },
            "pageLength": 50
        });
    });
</script>
    }

<h2>Student Index</h2>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="display" id="table-id" hidden>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstMidName)
            </th>
            <th>
                Equipment col 1
            </th>
            <th>Equipment col 2</th>

            <th></th>
            <th></th>
            <th></th>

        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstMidName)
                </td>
                @*Html.DisplayFor(modelItem => item.Equipment.Skip(1).First().EquipmentType)

                    try
                    {
                        Html.DisplayFor(modelItem => item.Equipment.First().EquipmentType);
                    }
                    catch { }


                *@

                @{int count = 0;

                    foreach (var equipmentItem in item.Equipment)
                    {
                        count++;

                        if (count <= 2)
                        {
                            <td>
                                @Html.DisplayFor(modelItem => equipmentItem.EquipmentType)
                            </td>
                        }
                    }
                    if (count == 0)
                    {
                        <td></td>
                        <td></td>
                    }
                    else if (count == 1)
                    {
                        <td></td>
                    }
                }
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.StudentID }, htmlAttributes: new { @class = "btn btn-primary" })
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.StudentID }, htmlAttributes: new { @class = "btn btn-primary" })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.StudentID }, htmlAttributes: new { @class = "btn btn-primary" })
                </td>
               
            </tr>
                    }

    </tbody>
</table>
